@model team_shirt.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<div class="container text-center">
    <div class="bg-white" style="border-radius: 30px">

        <div class="container">
            <h1>Realmente Deseja Excluir o Produto?</h1>
            <div class="container">
                <div>
                    <h1 class="font-weight-bold pt-5 pl-5">Produto</h1>
                    <hr />
                    <dl class="table text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Preco)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Preco)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Quantidade)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CaminhoImagem)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CaminhoImagem)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NomeImagem)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NomeImagem)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Categoria)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Categoria.Nome)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="EXCLUIR" class="btn btn-danger" /> |
                        <a class="btn btn-secondary" asp-action="Index">Voltar a lista</a>
                    </form>
                    <br />
                </div>


            </div>
        </div>
            



    </div>
</div>
